<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.soulanjo.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.soulanjo.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:exported="true"
            android:name="com.soulanjo.app.modules.search.ui.SearchActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.soulanjo.app.modules.comments.ui.CommentsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.pageview.ui.PageViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.notification.ui.NotificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.trendingpoststabcontainer.ui.TrendingPostsTabContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.accountview.ui.AccountViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.foryou.ui.ForYouActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.friends.ui.FriendsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.login.ui.LogInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.stories.ui.StoriesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.accountdetails.ui.AccountDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.trendingcontainer.ui.TrendingContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.storiesandtweets.ui.StoriesAndTweetsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.detailedprofile.ui.DetailedProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.loginscreen.ui.LoginScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.live.ui.LiveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.chat.ui.ChatActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.invitefriends.ui.InviteFriendsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.dailynewtabcontainer.ui.DailyNewTabContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.forgotpassword.ui.ForgotPasswordActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.soulanjo.app.modules.splash.ui.SplashActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
